* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1,
h2 {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header,
.footer {
    display: flex;
    background-color: #1f2937;
}

.header,
.section {
    padding-left: 200px;
    padding-right: 200px;
}

.header {
    align-items: center;
    padding-top: 30px;
}

.nav-container {
    margin-left: auto;
}

.nav-list {
    display: flex;
    gap: 16px;
}

.header-link {
    color: #e5e7eb;
    font-size: 18px;
}

.header h1 {
    color: #f9faf8;
    font-size: 24px;
}

.content {
    flex: 1;
}

.section {
    height: 400px;
}

.one {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.one div {
    flex: 1;
}

.secondary {
    color: #e5e7eb;
}

.landing-image {
    background-color: #989898;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 8px;
    height: 35px;
    width: 120px;
    font-size: 16px;
    font-weight: bold;
}

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 50px 0;
}

.image-list {
    padding: 0 100px;
    display: flex;
    gap: 20px;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon {
    height: 150px;
    width: 150px;
    border: solid;
    border-width: 5px;
    border-color: #3882f6;
    border-radius: 10px;
}

.three {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 300px;
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote-author {
    width: 100%;
    text-align: right;
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    padding-right: 60px;
}

.four {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-container {
    display: flex;
    align-items: center;
    gap: 160px;
    padding: 40px 160px;
    background-color: #3882f6;
    border-radius: 12px;
}

.action-container div h2 {
    color: #f9faf8;
}

.action-container div p {
    color: #e5e7eb;
    margin: 5px 0;
}

.action-container button {
    border: solid;
    border-color: #f9faf8;
}

.footer {
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    height: 64px;
}
