* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1,
h2 {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    height: 400vh;
    margin: 0;
}

.header,
.footer {
    display: flex;
    background-color: #1f2937;
}

.header,
.section {
    padding-left: 200px;
    padding-right: 200px;
}

.header {
    align-items: center;
    padding-top: 30px;
}

.nav-container {
    margin-left: auto;
}

.nav-list {
    display: flex;
    gap: 16px;
}

.header-link {
    color: #e5e7eb;
    font-size: 18px;
}

.header h1 {
    color: #f9faf8;
    font-size: 24px;
}

.content {
    flex: 1;
}

.section {
    height: 400px;
}

.one {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.one div {
    flex: 1;
}

.secondary {
    color: #e5e7eb;
}

.landing-image {
    background-color: #989898;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 8px;
    height: 35px;
    width: 120px;
    font-size: 16px;
    font-weight: bold;
}

.footer {
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    height: 64px;
}
